.form-div {
    border: solid 2px black;
    padding: 30px;
    /* margin: 20px; */
}

.form {
    background-color: whitesmoke;
}

.userDiv {
    padding: 10px;
    /* margin: 10px; */
    background-color: darkgrey;
}

