.header {
    padding: 1px;
    text-align: center;
    color: red;
    background-color: black;
    font-family: fantasy;
}

body {
    text-align: left;
    height: 100%;
    background-image: url(./logo/background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* .container-fluid {
    opacity: 0.8;
} */

.header img {
    float: left;
}

.userDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.form-div {
    padding: 10px;
}

.form {
    /* color: aliceblue; */
    padding: 10px;
    background-color: whitesmoke;
}

.cardz {
    padding: 10px;
    background-color: whitesmoke;
}


.card-img-top{
    height: 300px;
}

/* img {
    border: solid 2px red;
} */

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    /* background: rgb(0, 0, 0); */
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    }