.form-div {
    border: solid 2px black;
    padding: 30px;
}

.form {
    background-color: whitesmoke;
}

.userDiv {
    padding: 10px;
    background-color: darkgrey;
}

.card-img-top{
    height: 300px;
}
